In [2]:
from IPython.core.display import HTML
display(HTML("<style>pre{white-space: pre !!important;}</style>"))

In [3]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("spark-sql").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/08/24 10:11:50 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
titanic=spark.read.csv(
    path="/Users/rmn7591/Documents/BITS/semester1/Assignment/MATH/Assignment2/titanic.csv",
    inferSchema=True,
    header=True
)
titanic.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [4]:
titanic.show(10)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 10 rows

In [6]:
titanic.select("Sex","Survived").show(5)

+------+--------+
|   Sex|Survived|
+------+--------+
|  male|       0|
|female|       1|
|female|       1|
|female|       1|
|  male|       0|
+------+--------+
only showing top 5 rows

In [7]:
titanic.select("Sex","Survived").groupBy("Sex").sum().show()

+------+-------------+
|   Sex|sum(Survived)|
+------+-------------+
|female|          233|
|  male|          109|
+------+-------------+

In [8]:
titanic.createOrReplaceTempView("titanic")

spark.sql("SELECT * FROM titanic").show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

In [9]:
spark.sql("""
    SELECT 
        Sex,
        SUM(Survived)
    FROM titanic
    GROUP BY Sex

""").show()

+------+-------------+
|   Sex|sum(Survived)|
+------+-------------+
|female|          233|
|  male|          109|
+------+-------------+

In [10]:
spark.sql("""
    SELECT 
        Sex,
        ROUND(AVG(Age),2) AS AVERAGE
    FROM titanic
    GROUP BY Sex

""").show()

+------+-------+
|   Sex|AVERAGE|
+------+-------+
|female|  27.92|
|  male|  30.73|
+------+-------+

In [12]:
titanic.show(3)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 3 rows

In [11]:
spark.sql("""
    SELECT 
        Cabin, 
        CASE 
            WHEN Cabin IS NOT NULL THEN TRUE
            ELSE FALSE
        END AS HasCabin
    FROM titanic

""").show(10)

+-----+--------+
|Cabin|HasCabin|
+-----+--------+
| null|   false|
|  C85|    true|
| null|   false|
| C123|    true|
| null|   false|
| null|   false|
|  E46|    true|
| null|   false|
| null|   false|
| null|   false|
+-----+--------+
only showing top 10 rows

In [13]:
titanic.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [14]:
spark.sql("""
    SELECT 
        name, 
        REGEXP_EXTRACT(name,'([A-Za-z])\.') AS Title
    FROM titanic
""").show(10)

+--------------------+-----+
|                name|Title|
+--------------------+-----+
|Braund, Mr. Owen ...|    B|
|Cumings, Mrs. Joh...|    C|
|Heikkinen, Miss. ...|    H|
|Futrelle, Mrs. Ja...|    F|
|Allen, Mr. Willia...|    A|
|    Moran, Mr. James|    M|
|McCarthy, Mr. Tim...|    M|
|Palsson, Master. ...|    P|
|Johnson, Mrs. Osc...|    J|
|Nasser, Mrs. Nich...|    N|
+--------------------+-----+
only showing top 10 rows

In [ ]:
# user defined function

In [16]:
def reverse_name(name):
    return name[::-1]

reverse_name("Rashmeemayee mohapatra")

'artapahom eeyameemhsaR'

In [17]:
spark.udf.register("reverse_name",reverse_name)

In [18]:
spark.sql("""
    SELECT
        Name,
        reverse_name(Name) AS Reversename
    FROM titanic
""").show()

+--------------------+--------------------+
|                Name|         Reversename|
+--------------------+--------------------+
|Braund, Mr. Owen ...|sirraH newO .rM ,...|
|Cumings, Mrs. Joh...|)reyahT sggirB ec...|
|Heikkinen, Miss. ...|aniaL .ssiM ,neni...|
|Futrelle, Mrs. Ja...|)leeP yaM yliL( h...|
|Allen, Mr. Willia...|yrneH mailliW .rM...|
|    Moran, Mr. James|    semaJ .rM ,naroM|
|McCarthy, Mr. Tim...|J yhtomiT .rM ,yh...|
|Palsson, Master. ...|dranoeL atsoG .re...|
|Johnson, Mrs. Osc...|)greB animlehliV ...|
|Nasser, Mrs. Nich...|)mehcA eledA( sal...|
|Sandstrom, Miss. ...|tuR etireugraM .s...|
|Bonnell, Miss. El...|htebazilE .ssiM ,...|
|Saundercock, Mr. ...|yrneH mailliW .rM...|
|Andersson, Mr. An...|nahoJ srednA .rM ...|
|Vestrom, Miss. Hu...|aniflodA adnamA a...|
|Hewlett, Mrs. (Ma...| )emocgniK D yraM...|
|Rice, Master. Eugene|eneguE .retsaM ,eciR|
|Williams, Mr. Cha...|eneguE selrahC .r...|
|Vander Planke, Mr...|)eletroomednaV ai...|
|Masselmani, Mrs. ...|amitaF .srM ,inam...|
+--------------------+--------------------+
only showing top 20 rows

In [19]:
def extract_title(name):
    return name.split(",")[-1].split()[0]

extract_title("Braund, Mr. Owen")

'Mr.'

In [20]:
def is_common_title(title):
    return 1 if title in ["MISS", "Mr","Mrs"] else 0

is_common_title("Dr")

0

In [21]:
def remap_gender(gender):
    return 1 if gender=="male" else 0

remap_gender("female")

0

In [23]:
def has_cabin(cabin):
    return 1 if cabin else 0

has_cabin("")

0

In [24]:
def replace_missing_age(age,value):
    return age if age else value

replace_missing_age(15,-1)

15

In [25]:
spark.udf.register("extract_title",extract_title)
spark.udf.register("is_common_title",is_common_title)
spark.udf.register("remap_gender",remap_gender)
spark.udf.register("has_cabin",has_cabin)
spark.udf.register("replace_missing_age",replace_missing_age)

In [ ]:
# create a view before using udf function

In [26]:
titanic.createOrReplaceTempView("titanic")

In [28]:
spark.sql("""
    SELECT
        Survived,
        Pclass,
        extract_title(Name) as Title,
        is_common_title(extract_title(Name)) As is_common_title,
        remap_gender(Sex) as Ismale,
        replace_missing_age(Age,-1) As Age,
        SibSp,
        Parch,
        Fare,
        has_cabin(Cabin) As HasCabin,
        Embarked
    FROM titanic


""").show(10)

+--------+------+-------+---------------+------+----+-----+-----+-------+--------+--------+
|Survived|Pclass|  Title|is_common_title|Ismale| Age|SibSp|Parch|   Fare|HasCabin|Embarked|
+--------+------+-------+---------------+------+----+-----+-----+-------+--------+--------+
|       0|     3|    Mr.|              0|     1|22.0|    1|    0|   7.25|       0|       S|
|       1|     1|   Mrs.|              0|     0|38.0|    1|    0|71.2833|       1|       C|
|       1|     3|  Miss.|              0|     0|26.0|    0|    0|  7.925|       0|       S|
|       1|     1|   Mrs.|              0|     0|35.0|    1|    0|   53.1|       1|       S|
|       0|     3|    Mr.|              0|     1|35.0|    0|    0|   8.05|       0|       S|
|       0|     3|    Mr.|              0|     1|  -1|    0|    0| 8.4583|       0|       Q|
|       0|     1|    Mr.|              0|     1|54.0|    0|    0|51.8625|       1|       S|
|       0|     3|Master.|              0|     1| 2.0|    3|    1| 21.075|       0|       S|
|       1|     3|   Mrs.|              0|     0|27.0|    0|    2|11.1333|       0|       S|
|       1|     2|   Mrs.|              0|     0|14.0|    1|    0|30.0708|       0|       C|
+--------+------+-------+---------------+------+----+-----+-----+-------+--------+--------+
only showing top 10 rows

In [29]:
spark.sql("""
    SELECT * FROM(
        SELECT
            Survived,
            Pclass,
            extract_title(Name) as Title,
            is_common_title(extract_title(Name)) As is_common_title,
            remap_gender(Sex) as Ismale,
            replace_missing_age(Age,-1) As Age,
            SibSp,
            Parch,
            Fare,
            has_cabin(Cabin) As HasCabin,
            Embarked
        FROM titanic
    )WHERE is_common_title=0

""").show(10)

+--------+------+-------+---------------+------+----+-----+-----+-------+--------+--------+
|Survived|Pclass|  Title|is_common_title|Ismale| Age|SibSp|Parch|   Fare|HasCabin|Embarked|
+--------+------+-------+---------------+------+----+-----+-----+-------+--------+--------+
|       0|     3|    Mr.|              0|     1|22.0|    1|    0|   7.25|       0|       S|
|       1|     1|   Mrs.|              0|     0|38.0|    1|    0|71.2833|       1|       C|
|       1|     3|  Miss.|              0|     0|26.0|    0|    0|  7.925|       0|       S|
|       1|     1|   Mrs.|              0|     0|35.0|    1|    0|   53.1|       1|       S|
|       0|     3|    Mr.|              0|     1|35.0|    0|    0|   8.05|       0|       S|
|       0|     3|    Mr.|              0|     1|  -1|    0|    0| 8.4583|       0|       Q|
|       0|     1|    Mr.|              0|     1|54.0|    0|    0|51.8625|       1|       S|
|       0|     3|Master.|              0|     1| 2.0|    3|    1| 21.075|       0|       S|
|       1|     3|   Mrs.|              0|     0|27.0|    0|    2|11.1333|       0|       S|
|       1|     2|   Mrs.|              0|     0|14.0|    1|    0|30.0708|       0|       C|
+--------+------+-------+---------------+------+----+-----+-----+-------+--------+--------+
only showing top 10 rows

In [30]:
titanic.count()

891

In [40]:
titanic.columns

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [39]:
spark.sql("""
    SELECT 
        distinct(name),
        sex
    FROM titanic
    WHERE AGE >=25 AND Sex='male'

""").show()

+--------------------+----+
|                name| sex|
+--------------------+----+
|Lobb, Mr. William...|male|
|Walker, Mr. Willi...|male|
|  Harris, Mr. George|male|
|Newell, Mr. Arthu...|male|
|     Adams, Mr. John|male|
|  Harris, Mr. Walter|male|
|Hodges, Mr. Henry...|male|
|Jensen, Mr. Niels...|male|
|Bracken, Mr. James H|male|
|   Gee, Mr. Arthur H|male|
|"Flynn, Mr. John ...|male|
|Elsbury, Mr. Will...|male|
|   Harper, Rev. John|male|
|Roebling, Mr. Was...|male|
|Chronopoulos, Mr....|male|
|   Reeves, Mr. David|male|
|Daniel, Mr. Rober...|male|
|     Cook, Mr. Jacob|male|
|Holm, Mr. John Fr...|male|
|Attalah, Mr. Sleiman|male|
+--------------------+----+
only showing top 20 rows

In [41]:
titanic.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [42]:
titanic.limit(5)

DataFrame[PassengerId: int, Survived: int, Pclass: int, Name: string, Sex: string, Age: double, SibSp: int, Parch: int, Ticket: string, Fare: double, Cabin: string, Embarked: string]

In [43]:
titanic.select('*')

DataFrame[PassengerId: int, Survived: int, Pclass: int, Name: string, Sex: string, Age: double, SibSp: int, Parch: int, Ticket: string, Fare: double, Cabin: string, Embarked: string]

In [47]:
titanic.select("Survived","Name")

DataFrame[Survived: int, Name: string]

In [48]:
titanic.select("Survived","Name").show()

+--------+--------------------+
|Survived|                Name|
+--------+--------------------+
|       0|Braund, Mr. Owen ...|
|       1|Cumings, Mrs. Joh...|
|       1|Heikkinen, Miss. ...|
|       1|Futrelle, Mrs. Ja...|
|       0|Allen, Mr. Willia...|
|       0|    Moran, Mr. James|
|       0|McCarthy, Mr. Tim...|
|       0|Palsson, Master. ...|
|       1|Johnson, Mrs. Osc...|
|       1|Nasser, Mrs. Nich...|
|       1|Sandstrom, Miss. ...|
|       1|Bonnell, Miss. El...|
|       0|Saundercock, Mr. ...|
|       0|Andersson, Mr. An...|
|       0|Vestrom, Miss. Hu...|
|       1|Hewlett, Mrs. (Ma...|
|       0|Rice, Master. Eugene|
|       1|Williams, Mr. Cha...|
|       0|Vander Planke, Mr...|
|       1|Masselmani, Mrs. ...|
+--------+--------------------+
only showing top 20 rows

In [50]:
titanic.where(titanic.Age>25).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         21|       0|     2|Fynney, Mr. Joseph J|  male|35.0|    0|    0|          239865|   26.0| null|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|          248698|   13.0|  D56|       S|
|         24|       1|     1|Sloper, Mr. Willi...|  male|28.0|    0|    0|          113788|   35.5|   A6|       S|
|         26|       1|     3|Asplund, Mrs. Car...|female|38.0|    1|    5|          347077|31.3875| null|       S|
|         31|       0|     1|Uruchurtu, Don. M...|  male|40.0|    0|    0|        PC 17601|27.7208| null|       C|
|         34|       0|     2|Wheadon, Mr. Edwa...|  male|66.0|    0|    0|      C.A. 24579|   10.5| null|       S|
|         35|       0|     1|Meyer, Mr. Edgar ...|  male|28.0|    1|    0|        PC 17604|82.1708| null|       C|
|         36|       0|     1|Holverson, Mr. Al...|  male|42.0|    1|    0|          113789|   52.0| null|       S|
|         41|       0|     3|Ahlin, Mrs. Johan...|female|40.0|    1|    0|            7546|  9.475| null|       S|
|         42|       0|     2|Turpin, Mrs. Will...|female|27.0|    1|    0|           11668|   21.0| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [52]:
titanic.where((titanic.Age>25)& (titanic.Survived==1)).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|          248698|   13.0|  D56|       S|
|         24|       1|     1|Sloper, Mr. Willi...|  male|28.0|    0|    0|          113788|   35.5|   A6|       S|
|         26|       1|     3|Asplund, Mrs. Car...|female|38.0|    1|    5|          347077|31.3875| null|       S|
|         53|       1|     1|Harper, Mrs. Henr...|female|49.0|    1|    0|        PC 17572|76.7292|  D33|       C|
|         54|       1|     2|Faunthorpe, Mrs. ...|female|29.0|    1|    0|            2926|   26.0| null|       S|
|         62|       1|     1| Icard, Miss. Amelie|female|38.0|    0|    0|          113572|   80.0|  B28|    null|
|         67|       1|     2|Nye, Mrs. (Elizab...|female|29.0|    0|    0|      C.A. 29395|   10.5|  F33|       S|
|         75|       1|     3|       Bing, Mr. Lee|  male|32.0|    0|    0|            1601|56.4958| null|       S|
|         80|       1|     3|Dowdell, Miss. El...|female|30.0|    0|    0|          364516| 12.475| null|       S|
|         82|       1|     3|Sheerlinck, Mr. J...|  male|29.0|    0|    0|          345779|    9.5| null|       S|
|         86|       1|     3|Backstrom, Mrs. K...|female|33.0|    3|    0|         3101278|  15.85| null|       S|
|         99|       1|     2|Doling, Mrs. John...|female|34.0|    0|    1|          231919|   23.0| null|       S|
|        124|       1|     2| Webber, Miss. Susan|female|32.5|    0|    0|           27267|   13.0| E101|       S|
|        134|       1|     2|Weisz, Mrs. Leopo...|female|29.0|    1|    0|          228414|   26.0| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [54]:
titanic.agg({"fare":'avg'}).show()

+----------------+
|       avg(fare)|
+----------------+
|32.2042079685746|
+----------------+

In [55]:
titanic.groupBy("Pclass").agg({"fare":"avg"}).show()

+------+------------------+
|Pclass|         avg(fare)|
+------+------------------+
|     1| 84.15468749999992|
|     3|13.675550101832997|
|     2| 20.66218315217391|
+------+------------------+

In [58]:
titanic.groupBy("Pclass").agg({"fare":"avg"}).orderBy('Pclass',ascending=True).show()

+------+------------------+
|Pclass|         avg(fare)|
+------+------------------+
|     1| 84.15468749999992|
|     2| 20.66218315217391|
|     3|13.675550101832997|
+------+------------------+

In [60]:
titanic.filter(titanic.Age>25).agg({"Fare":"avg"}).show()

+-----------------+
|        avg(Fare)|
+-----------------+
|37.61960169491524|
+-----------------+

In [63]:
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import udf

In [68]:
def round_float_down(x):
    return int(x)

round_float_down_udf = udf(round_float_down,IntegerType())
titanic.select('PassengerId','Fare',round_float_down_udf('Fare').alias('Fare Rounded Down')).show()

+-----------+-------+-----------------+
|PassengerId|   Fare|Fare Rounded Down|
+-----------+-------+-----------------+
|          1|   7.25|                7|
|          2|71.2833|               71|
|          3|  7.925|                7|
|          4|   53.1|               53|
|          5|   8.05|                8|
|          6| 8.4583|                8|
|          7|51.8625|               51|
|          8| 21.075|               21|
|          9|11.1333|               11|
|         10|30.0708|               30|
|         11|   16.7|               16|
|         12|  26.55|               26|
|         13|   8.05|                8|
|         14| 31.275|               31|
|         15| 7.8542|                7|
|         16|   16.0|               16|
|         17| 29.125|               29|
|         18|   13.0|               13|
|         19|   18.0|               18|
|         20|  7.225|                7|
+-----------+-------+-----------------+
only showing top 20 rows

In [69]:
titanic.createGlobalTempView("titanic")

In [70]:
spark.sql("""
    SELECT * FROM
    titanic

""").show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [6]:
# to know the current user

spark.sql("""
    SELECT current_user()
""").show()

+--------------+
|current_user()|
+--------------+
|       rmn7591|
+--------------+